body {
  max-width: 1200px;
  margin: 0 auto;
  background: #f1faee;
}

.biases {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1000px;
}

.bias {
  background: #a8dadc;
  width: 400px;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
}

.group {
  background: #457b9d;
  color: white;
  width: 300px;
  border-radius: 5px;
  padding: 8px;
}

.type {
  background: #1d3557;
  color: white;
  width: 300px;
  border-radius: 5px;
  padding: 8px;
}
