/* palette https://coolors.co/e63946-f1faee-a8dadc-457b9d-1d3557 */

body {
  max-width: 1200px;
  margin: 0 auto;
  background: #f1faee;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  color: #e63946;
}

.controls {
  width: 800px;
  margin: 0 auto;
}
.biases {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1000px;
  justify-content: center;
}

.bias {
  background: #a8dadc;
  width: 400px;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  position: relative;
}

.group,
.type {
  color: white;
  width: 300px;
  border-radius: 5px;
  padding: 8px;
  font-size: small;
  margin: 6px;
}

.group {
  background: #457b9d;
}

.type {
  background: #1d3557;
}

button.copy {
  position: absolute;
  top: 20px;
  right: 20px;
}

.footer {
  padding: 20px;
}

button,
input {
  margin: 2px;
  padding: 4px;
}
